.hero {
  width: 100%;
}

.hero .image {
  background-color: #091521;
  background-position: left top;
  background-size: cover;
  height: 75.2rem;
  margin-top: 5rem;
  width: 100%;
}

.hero .hero-text {
  color: #fff;
  padding-top: 36rem;
}

.hero .hero-text .headline {
  margin-top: 1.7rem;
}

.hero .hero-text .text {
  margin-top: 2.4rem;
  width: 45%;
}

.hero .hero-text .btn {
  margin-top: 2.6rem;
}

/* media queries */
@media (max-width: 1200px) {
  .hero .image {
    height: 75rem;
  }
}

@media (max-width: 1090px) {
  .hero .hero-text {
    padding-top: 30rem;
  }
}

@media (max-width: 1040px) {

  .hero .hero-text .text {
    width: 47%;
  }
}

@media (max-width: 930px) {
  .hero .image {
    height: 55rem;
  }

  .hero .hero-text {
    padding-top: 20rem;
  }

  .hero .hero-text .text {
    width: 52%;
  }
}

@media (max-width: 835px) {
  .hero .image {
    height: 50rem;
  }

  .hero .hero-text {
    padding-top: 15rem;
  }

  .hero .hero-text .text {
    width: 65%;
  }

  .hero .hero-text .btn {
    margin-top: 3rem;  
  }
}

@media (max-width: 735px) {
  .hero .hero-text .text {
    width: 69%;
  }
}

@media (max-width: 700px) {
  .hero .image {
    height: 45rem;
  }

  .hero .hero-text {
    padding-top: 10rem;
  }
}


@media (max-width: 650px) {
  .hero .image {
    height: 45rem;
  }
  .hero .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 12rem;
    text-align: center;
  }
  .hero .hero-text .text {
    width: 78%;
  }
}

@media (max-width: 575px) {
  .hero .image {
    height: 45rem;
  }

  .hero .hero-text {
    padding-top: 12rem;
  }

  .hero .hero-text .text {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .hero .image {
    height: 50rem;
  }

  .hero .hero-text .headline {
    margin-top: 1rem;
  }

  .hero .hero-text .text {
    margin-top: 3rem;
  }
}

@media (max-width: 450px) {
  .hero .image {
    height: 45rem;
  }

  .hero .hero-text {
    width: 95%;
  }
}

@media (max-width: 375px) {
  .hero .hero-text .headline {
    margin-top: .5rem;
  }
  .hero .hero-text .text {
    margin-top: .5rem;
    width: 100%;
  }
}