.step {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 25%;
}

.step .number {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: .1rem;
}

.step .underline {
  background-color: #47E4C2;
  height: 3px;
  margin: 1rem auto;
  width: 23.7%;
}

.step .title {
  font-weight: 700;
  letter-spacing: .042rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.step .text {
  letter-spacing: .037rem;
  line-height: 1.4;
  margin: 1.2rem auto;
  padding: 0 .9rem;
  text-align: center;
}

/* media queries */
@media (max-width: 1050px) {
  .step {
    padding: 0 12%;
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .step {
    padding: 0 10%;
    width: 50%;
  }
}

@media (max-width: 875px) {
  .step {
    padding: 0 8%;
    width: 50%;
  }
}

@media (max-width: 780px) {
  .step {
    padding: 0 6%;
    width: 50%;
  }
}

@media (max-width: 765px) {
  .step {
    padding: 0 4%;
    width: 50%;
  }
}

@media (max-width: 650px) {
  .step {
    padding: 0 5%;
    width: 60%;
  }
}

@media (max-width: 475px) {
  .step {
    padding: 0 5%;
    width: 70%;
  }
}

@media (max-width: 415px) {
  .step {
    padding: 0 5%;
    width: 80%;
  }
}

@media (max-width: 340px) {
  .step {
    width: 90%;
  }
}
