#outline {
  animation: loading 1.6s linear infinite;
  stroke: #47E4C2; 
  stroke-dasharray: 2.4px, 243px;
  stroke-dashoffset: 0;   
  }

  #outline-bg {
    stroke: #ededed; 
  }

  .steps svg #outline-bg {
    stroke: #222222; 
  }

  @keyframes loading {
    10% {
        stroke-dasharray: 35px, 243px;
        stroke-dashoffset: -30px;
        }
    40% {
        stroke-dasharray: 85px, 243px;
        stroke-dashoffset: -85px;
    }
    100% {
        stroke-dasharray: 5px, 243px;
        stroke-dashoffset: -240px;
    }
}