.logo {
  padding-top: .41rem;
  width: 12.7rem;
}

@media (min-width: 320px) {
  .logo {
    margin: 1.2rem auto;
  }
}

@media (min-width: 500px) {
  .logo {
    margin: 11px 0px;
  }
}
.st0 path {
  fill: #47E4C2;
  fill-opacity: 0;
  stroke: #47E4C2;
  /* stroke-dasharray: 1000;
  stroke-dashoffset: 1000; */
  stroke-width: 2;
}


